Repository apache/mynewt-core, pull requests merged in 2024-12, with the labels that each got.

#3353 Remove incubator leftovers
  apps/bsncent/pkg.yml
  apps/bsnprph/pkg.yml
  apps/coremark/pkg.yml
  apps/flash_loader/README.md
  apps/lora_app_shell/pkg.yml
  apps/pwm_test/pkg.yml
  docs/os/modules/hal/hal_creation.rst
  docs/os/modules/hal/hal_flash/hal_flash_int.rst
  docs/os/modules/hal/hal_in_libraries.rst
  hw/bsp/apollo2_evb/pkg.yml
  hw/bsp/apollo3_evb/pkg.yml
  hw/bsp/calliope_mini/pkg.yml
  hw/drivers/adc/adc_apollo3/pkg.yml
  hw/drivers/adc/adc_nrf51/pkg.yml
  hw/drivers/adc/adc_nrf52/pkg.yml
  hw/drivers/pwm/pkg.yml
  hw/drivers/pwm/pwm_nrf52/pkg.yml
  hw/drivers/pwm/pwm_stm32/pkg.yml
  hw/drivers/pwm/soft_pwm/pkg.yml
  hw/drivers/temp/pkg.yml
  hw/drivers/temp/temp_nrf52/pkg.yml
  hw/mcu/ambiq/apollo2/pkg.yml
  hw/mcu/ambiq/apollo3/pkg.yml
  hw/mcu/ambiq/pkg.yml
Labels: BSP, size/s

#3354 hw/hal: Use 32 bit for flash alignment
  hw/hal/include/hal/hal_flash.h
  hw/hal/src/hal_flash.c
  sys/flash_map/include/flash_map/flash_map.h
  sys/flash_map/src/flash_map.c
Labels: size/s

#3357 hw/scripts: Add JLINK_SN to nrfutil and nrfjprog
  hw/scripts/nrfjprog.sh
  hw/scripts/nrfutil.sh
  hw/scripts/pyocd.sh
Labels: size/s

#3344 hw/mcu/nordic: Fix SPI for non-secure code
  hw/mcu/nordic/nrf5340/src/hal_spi.c
Labels: Nordic, size/s

#3359 hw/mcu/stm32f4: Add shell command to show clocks
  hw/mcu/stm/stm32f4xx/mcu_cli/pkg.yml
  hw/mcu/stm/stm32f4xx/mcu_cli/src/mcu_cli.c
  hw/mcu/stm/stm32f4xx/mcu_cli/syscfg.yml
Labels: STM, size/m
