Repository apache/mynewt-core, pull requests merged in 2024-05, with the labels that each got.

#3222 hw/mcu/dialog: Add 1MHz high-speed mode to hal i2c
  hw/mcu/dialog/da1469x/src/hal_i2c.c
Labels: Dialog

#3224 stm32/hal_reset: Fix reported reset reason
  hw/mcu/stm/stm32l0xx/src/hal_reset_cause.c
Labels: Trivial, BugFix, STM

#3223 stm32/hal_watchdog: Fix timeout calculations
  hw/mcu/stm/stm32_common/src/hal_watchdog.c
Labels: Trivial, BugFix, STM

#3227 stm32/hal: Fix STM32H7 with RTC as system tick
  hw/mcu/stm/stm32_common/src/hal_os_tick.c
Labels: Trivial, BugFix, STM

#3226 mcu/stm32l0: Fix voltage scaling configuration
  hw/mcu/stm/stm32l0xx/src/clock_stm32l0xx.c
Labels: Trivial, BugFix, STM

#3230 sys/config: Add watchdog tickle before each conf_fcb_var_read
  sys/config/src/config_fcb.c
Labels: CONF

#3209 hw/bsp: Add support for WeAct STM32G431 board
  .github/test_build_bootloader.sh
  .style_ignored_dirs
  LICENSE
  hw/bsp/weact_g431cb/bsp.yml
  hw/bsp/weact_g431cb/debug.sh
  hw/bsp/weact_g431cb/include/bsp/bsp.h
  hw/bsp/weact_g431cb/include/bsp/stm32g4xx_hal_conf.h
  hw/bsp/weact_g431cb/link/include/bsp_config.ld.h
  hw/bsp/weact_g431cb/pkg.yml
  hw/bsp/weact_g431cb/src/hal_bsp.c
  hw/bsp/weact_g431cb/syscfg.yml
Labels: STM, BSP

#3229 pwm/pwm_da1469x: Preserve timer state on frequency change.
  hw/drivers/pwm/pwm_da1469x/src/pwm_da1469x.c
Labels: Dialog
