Repository apache/mynewt-core, pull requests merged in 2025-09, with the labels that each got.

#3477 hw/scripts: Add adapter selection via syscfg.yml
  hw/scripts/jlink.sh
  hw/scripts/nrfjprog.sh
  hw/scripts/nrfutil.sh
  hw/scripts/openocd.sh
  hw/scripts/pyocd.sh
  hw/scripts/stlink.sh
  hw/scripts/stm32_programmer.sh
  hw/scripts/syscfg.yml
Labels: size/s

#3394 crypto/mbedtls: Use config defining flag globally
  apps/crypto_test/pkg.yml
  apps/hash_test/pkg.yml
  crypto/mbedtls/pkg.yml
Labels: size/s

#3497 mcu/stmxxx: Enable LSI by default
  hw/mcu/stm/stm32g0xx/syscfg.yml
  hw/mcu/stm/stm32g4xx/syscfg.yml
  hw/mcu/stm/stm32l0xx/syscfg.yml
  hw/mcu/stm/stm32l1xx/syscfg.yml
  hw/mcu/stm/stm32l4xx/syscfg.yml
  hw/mcu/stm/stm32u5xx/syscfg.yml
Labels: STM, size/s

#3500 Force linear history
  .asf.yaml
Labels: size/xs

#3501 hw/mcu/nordic: Bump nrfx to v3.14.0
  hw/drivers/adc/adc_nrf52/src/adc_nrf52.c
  hw/mcu/nordic/include/nrfx_glue.h
  hw/mcu/nordic/pkg.yml
Labels: Nordic, size/s, skip-style-check

#3355 Add initial support for Nordic nRF54L15
  hw/bsp/nordic_pca10156/bsp.yml
  hw/bsp/nordic_pca10156/include/bsp/bsp.h
  hw/bsp/nordic_pca10156/nordic_pca10156_debug.sh
  hw/bsp/nordic_pca10156/pkg.yml
  hw/bsp/nordic_pca10156/src/hal_bsp.c
  hw/bsp/nordic_pca10156/src/sbrk.c
  hw/bsp/nordic_pca10156/syscfg.yml
  hw/mcu/nordic/include/nrfx_config.h
  hw/mcu/nordic/nrf54lxx/include/mcu/cmsis_nvic.h
  hw/mcu/nordic/nrf54lxx/include/mcu/cortex_m33.h
  hw/mcu/nordic/nrf54lxx/include/mcu/mcu_vectors.h
  hw/mcu/nordic/nrf54lxx/include/mcu/nrf54l_clock.h
  hw/mcu/nordic/nrf54lxx/include/mcu/nrf54l_hal.h
  hw/mcu/nordic/nrf54lxx/include/mcu/nrf54l_periph.h
  hw/mcu/nordic/nrf54lxx/include/nrfx_config_nrf54l15_application.h
  hw/mcu/nordic/nrf54lxx/pkg.yml
  hw/mcu/nordic/nrf54lxx/src/hal_flash.c
  hw/mcu/nordic/nrf54lxx/src/hal_nvreg.c
  hw/mcu/nordic/nrf54lxx/src/hal_os_tick.c
  hw/mcu/nordic/nrf54lxx/src/hal_reset_cause.c
  hw/mcu/nordic/nrf54lxx/src/hal_system.c
  hw/mcu/nordic/nrf54lxx/src/hal_system_start.c
  hw/mcu/nordic/nrf54lxx/src/hal_timer.c
  hw/mcu/nordic/nrf54lxx/src/hal_uart.c
  hw/mcu/nordic/nrf54lxx/src/hal_watchdog.c
  hw/mcu/nordic/nrf54lxx/src/nrf54l_clock.c
  hw/mcu/nordic/nrf54lxx/src/nrf54l_hw_id.c
  hw/mcu/nordic/nrf54lxx/src/nrf54l_periph.c
  hw/mcu/nordic/nrf54lxx/src/system_nrf54.c
  hw/mcu/nordic/nrf54lxx/syscfg.yml
  hw/mcu/nordic/nrf_common/src/hal_flash.c
  hw/mcu/nordic/nrf_common/src/hal_gpio.c
Labels: Nordic, BSP, size/xl, skip-style-check
