Repository apache/mynewt-core, pull requests merged in 2025-02, with the labels that each got.

#3368 tinyusb/msc_fat_view: Handle multi file write
  hw/usb/tinyusb/msc_fat_view/src/update_handler.c
Labels: USB, size/xs

#3371 boot/startup: Add missing __text symbol
  boot/startup/mynewt_cortex_m0.ld
  boot/startup/mynewt_cortex_m3.ld
  boot/startup/mynewt_cortex_m33.ld
  boot/startup/mynewt_cortex_m4.ld
  boot/startup/mynewt_cortex_m7.ld
Labels: size/s

#3372 hw/mcu/nordic: Fix common QSPI HAL
  hw/mcu/nordic/nrf_common/src/hal_qspi.c
Labels: Nordic, size/xs

#3370 tinyusb/msc_fat_view:
  hw/usb/tinyusb/msc_fat_view/pkg.yml
Labels: USB, size/xs

#3375 ci: Fix doxygen setup
  .github/workflows/check_compliance.yml
  Doxyfile
Labels: CI, size/xs

#3377 code analysis: Fix syscfg values for targets
  targets/coverity/btshell_nrf52840_coverity/syscfg.yml
  targets/coverity/btshell_nrf52840_coverity2/syscfg.yml
Labels: size/xs

#3376 hw/stm32: Make flash definition common
  hw/bsp/ada_feather_stm32f405/syscfg.yml
  hw/bsp/b-l072z-lrwan1/syscfg.yml
  hw/bsp/b-l475e-iot01a/syscfg.yml
  hw/bsp/black_vet6/syscfg.yml
  hw/bsp/bluepill/syscfg.yml
  hw/bsp/nucleo-f030r8/syscfg.yml
  hw/bsp/nucleo-f072rb/syscfg.yml
  hw/bsp/nucleo-f103rb/syscfg.yml
  hw/bsp/nucleo-f303k8/syscfg.yml
  hw/bsp/nucleo-f303re/syscfg.yml
  hw/bsp/nucleo-f401re/syscfg.yml
  hw/bsp/nucleo-f411re/syscfg.yml
  hw/bsp/nucleo-f413zh/syscfg.yml
  hw/bsp/nucleo-f439zi/syscfg.yml
  hw/bsp/nucleo-f746zg/syscfg.yml
  hw/bsp/nucleo-f767zi/syscfg.yml
  hw/bsp/nucleo-g0b1re/syscfg.yml
  hw/bsp/nucleo-g491re/syscfg.yml
  hw/bsp/nucleo-h723zg/syscfg.yml
  hw/bsp/nucleo-h753zi/syscfg.yml
  hw/bsp/nucleo-l073rz/syscfg.yml
  hw/bsp/nucleo-l476rg/syscfg.yml
  hw/bsp/nucleo-u575zi-q/syscfg.yml
  hw/bsp/olimex-p103/syscfg.yml
  hw/bsp/olimex_stm32-e407_devboard/syscfg.yml
  hw/bsp/p-nucleo-wb55-usbdongle/syscfg.yml
  hw/bsp/p-nucleo-wb55/syscfg.yml
  hw/bsp/stm32f3discovery/syscfg.yml
  hw/bsp/stm32f411discovery/syscfg.yml
  hw/bsp/stm32f429discovery/syscfg.yml
  hw/bsp/stm32f4discovery/syscfg.yml
  hw/bsp/stm32f7discovery/syscfg.yml
  hw/bsp/stm32l152discovery/syscfg.yml
  hw/bsp/weact_g431cb/syscfg.yml
  hw/mcu/stm/stm32_common/syscfg.yml
Labels: STM, BSP, size/m
