Repository apache/mynewt-core, pull requests merged in 2025-03, with the labels that each got.

#3379 hw/bsp: Add support for blackpill401cc
  .style_ignored_dirs
  hw/bsp/blackpill401cc/bsp.yml
  hw/bsp/blackpill401cc/debug.sh
  hw/bsp/blackpill401cc/include/bsp/bsp.h
  hw/bsp/blackpill401cc/include/bsp/stm32f4xx_hal_conf.h
  hw/bsp/blackpill401cc/pkg.yml
  hw/bsp/blackpill401cc/src/hal_bsp.c
  hw/bsp/blackpill401cc/syscfg.yml
Labels: BSP, size/l

#3381 log_fcb: Init all usage of fcb_entry on stack
  fs/fcb/selftest/src/testcases/fcb_test_append.c
  fs/fcb/selftest/src/testcases/fcb_test_append_fill.c
  fs/fcb/selftest/src/testcases/fcb_test_append_too_big.c
  fs/fcb/selftest/src/testcases/fcb_test_area_info.c
  fs/fcb/selftest/src/testcases/fcb_test_last_of_n.c
  fs/fcb/selftest/src/testcases/fcb_test_multiple_scratch.c
  fs/fcb/selftest/src/testcases/fcb_test_reset.c
  fs/fcb/selftest/src/testcases/fcb_test_rotate.c
  fs/fcb/src/fcb_area_info.c
  hw/drivers/flash/enc_flash/selftest/src/testcases/enc_flash_fcb.c
  sys/config/src/config_fcb.c
  sys/log/full/src/log_fcb.c
Labels: size/s

#3384 uncrustify: Update configuration for 4 spaces indent on macros
  uncrustify.cfg
Labels: size/xs

#3382 fs/fcb: FCB has some async issues, fixing some obvious ones
  fs/fcb/include/fcb/fcb.h
  fs/fcb/src/fcb.c
Labels: size/s, FCB

#3387 tinyusb/msc_fat_view: Enable update handler by default
  hw/usb/tinyusb/msc_fat_view/syscfg.yml
Labels: USB, size/xs

#3389 Fix for lis2dh12 shell initialization
  hw/drivers/sensors/lis2dh12/src/lis2dh12.c
  hw/drivers/sensors/lis2dh12/src/lis2dh12_shell.c
Labels: size/s, SENSORS, DRIVERS

#3388 sys/log: Fix Sector bookmark no log init and log flush
  sys/log/full/src/log_fcb.c
  sys/log/full/src/log_fcb_bmark.c
Labels: LOGS, size/s

#3349 kernel/os: Update os_assert_cb to match assert_func
  kernel/os/include/os/arch/common.h
  kernel/os/src/arch/arc/os_fault.c
  kernel/os/src/arch/cortex_m0/os_fault.c
  kernel/os/src/arch/cortex_m3/os_fault.c
  kernel/os/src/arch/cortex_m33/os_fault.c
  kernel/os/src/arch/cortex_m4/os_fault.c
  kernel/os/src/arch/cortex_m7/os_fault.c
  kernel/os/src/arch/mips/os_fault.c
  kernel/os/src/arch/pic32/os_fault.c
  kernel/os/src/arch/rv32imac/os_fault.c
  kernel/os/src/arch/sim-armv7/os_arch.c
  kernel/os/src/arch/sim-mips/os_arch.c
  kernel/os/src/arch/sim/os_arch.c
Labels: size/s
